.item_color_white{
    background-color: #EEE5E5;
}

.item_color_light-orange{
    background-color: #F6CB77;
}

.item_color_light-green{
    background-color: #B2F493;
}

.item_color_light-red{
    background-color: #F26D50;
}